.contactbar1 {
    background-color: rgb(13, 104, 216);
    border-radius: 10px 10px;
    width: 0px;
    height: 50px;
    margin: 25px;
    animation-name: growing;
    animation-duration: 3s;
    animation-timing-function: ease ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.contactbar2 {
    background-color: rgb(13, 104, 216);
    border-radius: 10px 10px;
    width: 0px;
    height: 50px;
    margin: 25px;
    animation-name: growing2;
    animation-duration: 3s;
    animation-timing-function: ease ease-in-out;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes growing {
   from {
        width 0;
   }
   to {
       width: 600px;
   }
}

@keyframes growing2 {
   from {
        width 0;
   }
   to {
       width: 600px;
   }
}
